body {
    display: flex;
    justify-content: center;
    background-color: lightgrey;
}
 #output {
    width: 300px;
    line-height: 30px;
 }
 label {
    text-align: left;
 }
input, button, select {
    float: right;
 }
 select {
    height: 20px;
 }
 
