body {
    display: flex;
    justify-content: center;
    background-color: lightgrey;
    align-items: center;
}
 #output {
    display: flex;
    width: 300px;
    line-height: 30px;
    flex-wrap: wrap;
 }
 #form {
   display: flex;
   flex-direction: column;
   width: 250px;
   padding: 10px;
   padding-top: 0;
 }
 #button {
   color: black;
   font-size: 15px;
   font-weight: normal;
 }
 .form-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 10px;
 }
 #alert {
   top: 0;
   display: none;
   left: 0;
   height: 100vh;
   width: 100vw;
   position: fixed;
   justify-content: center;
   align-items: center;
   background-color: rgba(0, 0, 0, 0.1);
 }
 #alert > div {
   box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
   border-radius: 10%;
   padding: 10px;
   background-color: white;
   display: flex;
   flex-wrap: wrap;
   text-align: center;
   flex-direction: column;
   align-items: center;
 }
img {
   width: 250px;
   padding-top: 15vh;
}
p {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 25px;
   font-weight: bolder;
}
a {
   text-decoration: none;
}
button {
   align-self: center;
   color: lime;
   font-size: 30px;
   font-weight: bold;
}
#navbar {
   align-self: flex-start;
   left: 10px;
   position: fixed;
   display: flex;
   justify-content: space-between;
   width: 250px;
   border: black 2px solid;
   padding: 10px;
   color: red;
   font-size: 20px;
   background-color: aliceblue;
}
a:hover {
   color: darkblue;
   font-weight: bold;
   text-shadow: 2px 2px lightblue;
}
#output2 {
   display: flex;
   width: 60vw;
   line-height: 30px;
   flex-wrap: wrap;
   border: black solid 2px;
   padding: 10px;
}
hr {
width: 96%;
height: 1px;
background-color: black;
}
#filters {
   left: 10px;
   top: 10vh;
   position: fixed;
   width: 250px;
   background-color: aliceblue;
   border: black 2px solid;
   padding: 10px;
   font-size: 18px;
   display: flex;
   line-height: 30px;
}
#btn {
   align-self: flex-end;
   color: black;
   font-size: 15px;
   font-weight: normal;
   margin-top: 10px;
}
