body {
    display: flex;
    justify-content: center;
    background-color: lightgrey;
}
 #output {
    display: flex;
    width: 300px;
    line-height: 30px;
    flex-wrap: wrap;
 }
 #form {
   display: flex;
   flex-direction: column;
 }
 button {
    align-self: flex-end;
    width: 50px;
 }
 .form-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 }
